{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subscription</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subscription.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ subscription.firstname }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ subscription.surname }}</td>
            </tr>
            <tr>
                <th>Subdate</th>
                <td>{% if subscription.subdate %}{{ subscription.subdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ subscription.email }}</td>
            </tr>
            <tr>
                <th>Subarea_id</th>
                <td>{{ subscription.subareaid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subscription_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subscription_edit', { 'id': subscription.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
