{% extends 'base2.html.twig' %}

{% block body %}
    <div id="taskmenu">
    <h1 class="taskMenuTitle">Newsletters list</h1>

    <table>
        <thead>
            <tr>
                <th class="column">Id</th>
                <th class="column">Name</th>
                <th class="column">Senddate</th>
                <th class="column">Domain</th>
                <th class="column">Content</th>
                <th class="column">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    <td class="column"><a href="{{ path('newsletter_show', { 'id': newsletter.id }) }}">{{ newsletter.id }}</a></td>
                    <td class="column">{{ newsletter.name }}</td>
                    <td class="column">{% if newsletter.sendDate %}{{ newsletter.sendDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td class="column">{{ newsletter.domain }}</td>
                    <td class="column">{{ newsletter.content }}</td>
                    <td>
                        <ul>
                            <li>
                                <a id="btn-show"  href="{{ path('newsletter_show', { 'id': newsletter.id }) }}">show</a>
                            </li>
                            <li>
                                <a id="btn-edit" href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a id="createNewTask" class="btn btn-primary" href="{{ path('newsletter_new') }}">Create a new newsletter</a>
        </li>
    </ul>
{% endblock %}
