{% extends 'base2.html.twig' %}

{% block body %}
    <h1>Newsletter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ newsletter.name }}</td>
            </tr>
            <tr>
                <th>Senddate</th>
                <td>{% if newsletter.sendDate %}{{ newsletter.sendDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ newsletter.domain }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ newsletter.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsletter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
